h1{color: #C0392B; font-family: Ink Free; font-size: 70px;}
body{background-color: #000000;}
p{color: #C0392B; font-family: papyrus; font-size: 25px;}
ol{color: #C0392B; font-family: papyrus; font-size: 20px;}
a{color: #930000; font-family: papyrus; font-size: 20px; text-decoration: 
